.subscribe{
  background-color:rgb(192, 7, 7);
  color:white;
  border: none;
  padding-top: 3px
  border-radius: 2px;
  cursor: pointer;
  margin-right:8px;
  transition :opacity 0.15 s;
}
.subscribe:hover{opacity:0.8 ;}
.subscribe:active{opacity:0.2}
.join{background-color:white;
color:rgb(140, 140, 241);
border-color:rgb(140, 140, 241);
border-style: solid;
border-radius: 2px;
border-width: 2px;
height: 36px;
width:74px;
cursor:pointer;
margin-left: 3px;
transition:background-color 0.5s, color 0.5s;
}
.join:hover{background-color: blue;
  color:white;}
  

.join:active{opacity:0.5;}

.Tweet{
  background-color: rgb(76, 76, 167);
  color: white;
  border-radius:100px;
  height: 36px;
  width: 75px;
  border:none;
  cursor:pointer;
  margin-left: 3px;
  margin-top: 3px;
  transition: box-shadow 0.15s;
  
}
.Tweet:hover{box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);}
.uber{
  background-color: black;
  color: white;
  height: 35px;
  border-style:solid ;
  cursor: pointer;
  margin-right: 3px;
  border-radius: 3px;
  
}
.uber:hover{background-color: white;
color:black}
.uber:active{color: blue
  ;
background-color: red;}

.amazon{
  background-color: yellow;
  border:none;
  border-radius: 30px;
  height: 20px;
  width: 150px;
  cursor: pointer;
}